* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Gilroy","Arial",sans-serif;
}

$main-color:#ffb74d;
$bg-main-color:#fcd54c;

$gray-color:#fff;

body {
    overflow: hidden;
}

//switch between txt-color
.body-container {
    .menu-bar.active{
        .bar {
            background-color: white;
        }
    }
    .menu-bar {
        .bar {
            background-color: black;
        }
    }
    nav {
        background-color: white;
    }
}

.body-container.txt-white {
    position: relative;
    nav {
        .page-icon {
            .txt h3, .txt p {
                color: white;
                transition: 0.2s ease-in-out color;
            }
        }
        .container {
            ul li {
                color: white;
                transition: 0.2s ease-in-out color;
            }
        }
        .icons {
            a{
                color: white;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    .point-container {
        ul li {
            color: white;
            &:hover {
                color: $main-color;
            }
        }
        li.active {
            color:$main-color
        }
    }
    .bot-txt {
        h3 {
            color:white;
            transition: 0.2s ease-in-out color;
        }
    }
    .lung-section {
        ul li {
            color: white;
            transition: 0.2s ease-in-out color;
        }
        ul li.active {
            color: $main-color;
        }
        ul li:hover {
            color: $main-color;
        }
    }
    .menu-bar{
        .bar {
            background-color: white;
        }
    }
    nav {
        background-color: transparent;
    }
}
.parent-container {
    position: relative;
    width: 100%;
    z-index: 1;
    .parent {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-color: white;
        .floting-txt {
            position: absolute;
            transform: rotate(-90deg) translateY(-50%);
            left: 20px;
            top:82%;
            span {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: lighter;
                letter-spacing: 1px;
            }
        }
    }
    // @for $i from 0 through 6 {
    //     .parent.z-#{$i} {
    //         z-index: $i;
    //     }
    // }
}
.slick-list {
    height: 100%;
    width: 100%;
    .slick-track {
        display: flex;
        height: 100%;
    }
}
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    li {
        list-style: none;
        width:13px;
        height: 13px;
        border-radius: 50%;
        background-color: lightgray;
        cursor: pointer;
        transition: 0.2s ease-in-out background-color;
        &:not(:last-child) {
            margin-right: 10px;
        }
        button {
            display: none;
        }
    }
    li.slick-active {
        background-color: $main-color;
    }
}
@media (max-width:1250px) {
    .parent {
        .container {
            margin: 0 60px;
        }
    }
}