* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Gilroy","Arial",sans-serif;
}

$main-color:#ffb74d;
$bg-main-color:#fcd54c;
$gray-color:#fff;
$light-gray:#ccc;

body {
    overflow: hidden;
}

//switch between txt-color
.body-container {
    .menu-bar.active{
        .bar {
            background-color: white;
        }
    }
    .menu-bar {
        .bar {
            background-color: black;
        }
    }
    nav {
        background-color: white;
    }
}

.body-container.txt-white {
    position: relative;
    nav {
        .page-icon {
            .txt h3, .txt p {
                color: white;
                transition: 0.2s ease-in-out color;
            }
        }
        .container {
            ul li {
                color: white;
                transition: 0.2s ease-in-out color;
            }
        }
        .icons {
            a{
                color: white;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    .point-container {
        ul li {
            color: white;
            &:hover {
                color: $main-color;
            }
        }
        li.active {
            color:$main-color
        }
    }
    .bot-txt {
        h3 {
            color:white;
            transition: 0.2s ease-in-out color;
        }
    }
    .lung-section {
        ul li {
            color: white;
            transition: 0.2s ease-in-out color;
        }
        ul li.active {
            color: $main-color;
        }
        ul li:hover {
            color: $main-color;
        }
    }
    .menu-bar{
        .bar {
            background-color: white;
        }
    }
    nav {
        background-color: transparent;
    }
}
//main style
.parent-container {
    position: relative;
    width: 100%;
    z-index: 1;
    .parent {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-color: white;
        .floting-txt {
            position: absolute;
            transform: rotate(-90deg) translateY(-50%);
            left: 20px;
            bottom:140px;
            span {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: lighter;
                letter-spacing: 1px;
            }
        }
        .scrollable {
            width: 100%;
            min-height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .slider {
            height: 100%;
            width: 100%;
            overflow: hidden;
            .bord {
                background-size: cover;
                width: 100%;
                height: 100%;
                &:active {
                    cursor:grabbing;
                }
            }
            .container {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .row {
                    position: relative;
                    color: white;
                    flex-direction: column;
                    width: 100%;
                    h3,h1,p {
                        margin-bottom: 40px;
                    }
                    h3 {
                        text-transform: uppercase;
                        font-weight: bolder;
                    }
                    h1 {
                        font-size: 80px;
                        font-weight: bolder;
                        .small {
                            font-size: 25px;
                        }
                    }
                    p {
                        width: 35%;
                        color:lightgray;
                        line-height: 2em;
                    }
                }
            }
        }
    }
    @for $i from 0 through 6 {
        .parent.z-#{$i} {
            z-index: $i;
            position: absolute;
            transform: translateY(-100%);
            transition: 0.5s ease-in-out transform;
        }
    }
    .parent.active {
        transform: translateY(0);
    }
}
//global slick slide style
.slick-slider {
    .slick-list {
        height: 100%;
        width: 100%;
        .slick-track {
            display: flex;
            height: 100%;
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px 0;
        li {
            list-style: none;
            width:13px;
            height: 13px;
            border-radius: 50%;
            background-color: lightgray;
            cursor: pointer;
            transition: 0.2s ease-in-out background-color;
            &:not(:last-child) {
                margin-right: 10px;
            }
            button {
                display: none;
            }
        }
        li.slick-active {
            background-color: $main-color;
        }
    }
}

//some edit in bootstrap
@media (max-width:1250px) {
    .parent {
        .container {
            margin: 0 60px;
        }
    }
}

@media (max-width:992px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: #888;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $main-color;
        transition:  0.2s ease-in-out background-color;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: $bg-main-color;
    }
      
    .parent-container {
        .scroll {
            overflow-y: scroll;
            display: block;
        }
        .parent {
            .scrollable {
                padding-top:150px;
            }
        }
    }
}