* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Gilroy", "Arial", sans-serif;
}

body {
  overflow: hidden;
}

.body-container .menu-bar.active .bar {
  background-color: white;
}
.body-container .menu-bar .bar {
  background-color: black;
}
.body-container nav {
  background-color: white;
}

.body-container.txt-white {
  position: relative;
}
.body-container.txt-white nav .page-icon .txt h3, .body-container.txt-white nav .page-icon .txt p {
  color: white;
  transition: 0.2s ease-in-out color;
}
.body-container.txt-white nav .container ul li {
  color: white;
  transition: 0.2s ease-in-out color;
}
.body-container.txt-white nav .icons a {
  color: white;
}
.body-container.txt-white nav .icons a:hover {
  color: #ffb74d;
}
.body-container.txt-white .point-container ul li {
  color: white;
}
.body-container.txt-white .point-container ul li:hover {
  color: #ffb74d;
}
.body-container.txt-white .point-container li.active {
  color: #ffb74d;
}
.body-container.txt-white .bot-txt h3 {
  color: white;
  transition: 0.2s ease-in-out color;
}
.body-container.txt-white .lung-section ul li {
  color: white;
  transition: 0.2s ease-in-out color;
}
.body-container.txt-white .lung-section ul li.active {
  color: #ffb74d;
}
.body-container.txt-white .lung-section ul li:hover {
  color: #ffb74d;
}
.body-container.txt-white .menu-bar .bar {
  background-color: white;
}
.body-container.txt-white nav {
  background-color: transparent;
}

.parent-container {
  position: relative;
  width: 100%;
  z-index: 1;
}
.parent-container .parent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: white;
}
.parent-container .parent .floting-txt {
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  left: 20px;
  top: 82%;
}
.parent-container .parent .floting-txt span {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.menu-section .content ul, nav .container.list .row ul {
  margin: 0;
}
.menu-section .content ul li, nav .container.list .row ul li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  font-weight: bolder;
}
.menu-section .content ul li:not(:last-child), nav .container.list .row ul li:not(:last-child) {
  margin-right: 50px;
}
.menu-section .content ul li i, nav .container.list .row ul li i {
  margin-left: 8px;
  font-size: 10px;
  transition: 0.2s ease-out color;
}
.menu-section .content ul li:hover i, nav .container.list .row ul li:hover i {
  color: #ffb74d;
}

nav {
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: 0.3s ease-in-out background-color;
}
nav .page-icon {
  position: relative;
  text-decoration: none;
}
nav .page-icon .txt {
  padding: 8px 13px;
  line-height: inherit;
  width: 130px;
}
nav .page-icon .txt h3 {
  font-weight: bolder;
  margin: 0;
  font-size: 25px;
  color: black;
}
nav .page-icon .txt p {
  font-size: 12px;
  margin: 0;
  font-weight: lighter;
  color: gray;
}
nav .page-icon .bord {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  border: 2px solid #ffb74d;
  border-right: none;
}
nav .page-icon .bord::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #ffb74d;
  transition: 0.2s ease-out width;
  z-index: -1;
}
nav .page-icon:hover .bord::before {
  width: 100%;
}
nav .container.list {
  margin: 0;
  max-width: 85%;
}
nav .container.list .row {
  height: 100%;
  margin: 0;
  justify-content: space-between;
}
nav .icons {
  display: flex;
  align-items: center;
}
nav .icons a {
  color: black;
  transition: 0.2s ease-out color;
}
nav .icons a:not(:last-child) {
  margin-right: 30px;
}
nav .icons a:hover {
  color: #ffb74d;
}

nav.bg-active {
  background-color: white;
}

.point-container {
  position: fixed;
  z-index: 2;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.point-container ul li {
  display: block;
  cursor: pointer;
  transition: 0.2s ease-out color;
}
.point-container ul li:not(:last-child) {
  margin-bottom: 15px;
}
.point-container ul li:hover {
  color: #ffb74d;
}
.point-container ul li i {
  font-size: 12px;
}
.point-container ul li.active {
  color: #ffb74d;
}

.bot-txt {
  position: fixed;
  z-index: 2;
  bottom: 30px;
  left: 50px;
}
.bot-txt h3 {
  font-size: 15px;
  font-weight: lighter;
  color: black;
}

.lung-section {
  position: fixed;
  z-index: 2;
  bottom: 35px;
  right: 50px;
}
.lung-section ul {
  margin: 0;
}
.lung-section ul li {
  font-size: 14px;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease-out color;
}
.lung-section ul li:not(:last-child) {
  margin-right: 15px;
}
.lung-section ul li:hover {
  color: #ffb74d;
}
.lung-section ul li.active {
  color: #ffb74d;
}

.menu-section {
  width: 0px;
  height: 0px;
  background-color: #2b2b2b;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: 0.5s ease;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.menu-section .content ul li {
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.2s ease-in-out;
  transition-property: transform, opacity;
  display: inline-block;
}
.menu-section .content ul li i {
  display: none;
}
.menu-section .content ul li:hover {
  color: #ffb74d;
}
.menu-section .content .icons {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.2s ease-in-out opacity;
}
.menu-section .content .icons a {
  color: white;
}
.menu-section .content .icons a:hover {
  color: #ffb74d;
}
.menu-section .content .icons a:not(:last-child) {
  margin-right: 20px;
}

.menu-section.active {
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 9;
}
.menu-section.active ul li {
  opacity: 1;
  transform: translateY(0px);
}
.menu-section.active ul li:nth-of-type(1) {
  transition-delay: 0.2s;
}
.menu-section.active ul li:nth-of-type(2) {
  transition-delay: 0.4s;
}
.menu-section.active ul li:nth-of-type(3) {
  transition-delay: 0.6s;
}
.menu-section.active ul li:nth-of-type(4) {
  transition-delay: 0.8s;
}
.menu-section.active ul li:nth-of-type(5) {
  transition-delay: 1s;
}
.menu-section.active .icons {
  opacity: 1;
}

.menu-bar {
  color: white;
  width: 25px;
  min-height: 10px;
  position: fixed;
  right: 50px;
  top: 45px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  margin-left: 10px;
  display: none;
}
.menu-bar .bar {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: 0.2s ease-in-out;
}
.menu-bar .bar:not(:last-child) {
  margin-bottom: 7px;
}
.menu-bar .bar:nth-of-type(2) {
  transition: 0.3s ease-in-out opacity;
  opacity: 1;
}
.menu-bar .bar:nth-of-type(1),
.menu-bar .bar:nth-of-type(3) {
  transition: 0.3s ease-in-out;
  transition-property: transform;
}

.menu-bar.active .bar:nth-of-type(2) {
  opacity: 0;
}
.menu-bar.active .bar:nth-of-type(1) {
  transform: rotate(40deg) translateX(5px) translateY(7.5px);
  transition-property: transform, background-color;
}
.menu-bar.active .bar:nth-of-type(3) {
  transform: rotate(-40deg) translateX(5px) translateY(-7.5px);
  transition-property: transform, background-color;
}

@media (max-width: 1050px) {
  .menu-bar {
    display: block;
  }

  nav .container,
nav .icons {
    display: none;
  }

  .menu-section {
    display: flex;
  }
}
@media (max-width: 578px) {
  .menu-section .content ul li {
    display: block;
    text-align: center;
  }
  .menu-section .content ul li:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 370px) {
  .point-container {
    right: 30px;
  }

  .lung-section {
    right: 30px;
  }
}
.home {
  background-image: url(../images/home.jpg);
}
.home .row {
  max-width: 400px;
  color: white;
  flex-direction: column;
}
.home .row p {
  margin-bottom: 10px;
}
.home .row h1 {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0;
}
.home .row h1 span {
  color: #ffb74d;
  text-transform: uppercase;
}
.home .row hr {
  background-color: #ffb74d;
  height: 4px;
  width: 35%;
  margin-top: 100px;
  margin-bottom: 0;
}
.home .floting-txt {
  color: white;
}

@media (max-width: 1245px) {
  .home .container {
    margin: 0 15px 0 65px;
    padding: 0;
    max-width: 1140px;
  }
}
@media (max-width: 768px) {
  .home .row h1 {
    font-size: 60px;
  }
  .home .row hr {
    margin-top: 50px;
  }

  .parent-container .home.parent .floting-txt {
    top: 78%;
  }
}
@media (max-width: 485px) {
  .home .row h1 {
    font-size: 40px;
  }
  .home .row hr {
    margin-top: 30px;
  }

  .parent-container .home.parent .floting-txt span {
    font-size: 11px;
  }
}
.parent-container .services {
  display: block;
}
.parent-container .services .scrollable {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
.parent-container .services .scrollable .row {
  justify-content: space-between;
  flex-wrap: nowrap;
}
.parent-container .services .scrollable .row .txt {
  position: relative;
}
.parent-container .services .scrollable .row .txt h1 {
  font-size: 150px;
  color: #fcd54c;
}
.parent-container .services .scrollable .row .txt p {
  font-weight: bolder;
  text-transform: uppercase;
}
.parent-container .services .scrollable .row .txt::after {
  content: "+";
  position: absolute;
  right: -30px;
  top: -80px;
  color: #fcd54c;
  font-size: 100px;
  font-weight: bolder;
}
.parent-container .services .scrollable .row .flex-box {
  width: 70%;
}
.parent-container .services .scrollable .row .flex-box h1 {
  font-size: 45px;
  font-weight: bolder;
  padding-bottom: 40px;
}
.parent-container .services .scrollable .row .flex-box h1 span {
  color: #fcd54c;
}
.parent-container .services .scrollable .row .flex-box .content {
  display: flex;
  flex-wrap: wrap;
}
.parent-container .services .scrollable .row .flex-box .content .bord {
  width: 50%;
}
.parent-container .services .scrollable .row .flex-box .content .bord h2 {
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 30px;
}
.parent-container .services .scrollable .row .flex-box .content .bord p {
  color: gray;
  margin-bottom: 25px;
  width: 80%;
}
.parent-container .services .scrollable .row .flex-box .content .bord button {
  border: none;
  outline: none;
  color: #fcd54c;
  font-weight: bolder;
  text-transform: capitalize;
  opacity: 0;
  transition: 0.4s ease-in-out opacity;
}
.parent-container .services .scrollable .row .flex-box .content .bord button i {
  transition: 0.3s ease-in-out transform;
  margin-left: 5px;
}
.parent-container .services .scrollable .row .flex-box .content .bord button:hover {
  color: #ffb74d;
}
.parent-container .services .scrollable .row .flex-box .content .bord button:hover i {
  color: #fcd54c;
  transform: translateX(5px);
}
.parent-container .services .scrollable .row .flex-box .content .bord:hover button {
  opacity: 1;
}
.parent-container .services .scrollable .row .flex-box .content .bord:nth-of-type(1),
.parent-container .services .scrollable .row .flex-box .content .bord:nth-of-type(2) {
  margin-bottom: 50px;
}

@media (max-width: 1250px) {
  .services .container {
    margin: 0 60px;
  }
}
@media (max-width: 992px) {
  .parent-container .services {
    overflow: scroll;
  }
  .parent-container .services .scrollable .row .flex-box h1 {
    font-size: 35px;
  }
  .parent-container .services .scrollable .row .flex-box .content {
    flex-direction: column;
  }
  .parent-container .services .scrollable .row .flex-box .content .bord {
    width: 100%;
  }
  .parent-container .services .scrollable .row .flex-box .content .bord:nth-of-type(1), .parent-container .services .scrollable .row .flex-box .content .bord:nth-of-type(2) {
    margin: 0;
  }
  .parent-container .services .scrollable .row .flex-box .content .bord:not(:last-child) {
    margin-bottom: 20px;
  }
  .parent-container .services .scrollable .row .flex-box .content .bord:last-child {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .parent-container .services {
    overflow: scroll;
  }
  .parent-container .services .scrollable .row {
    flex-direction: column;
  }
  .parent-container .services .scrollable .row .txt {
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .parent-container .services .scrollable .row .txt h1 {
    font-size: 100px;
  }
  .parent-container .services .scrollable .row .txt p {
    padding-top: 30px;
    font-size: 15px;
  }
  .parent-container .services .scrollable .row .flex-box {
    margin: 0 auto;
  }
}
@media (max-width: 578px) {
  .parent-container .services .scrollable .row .txt {
    margin: 0 auto;
    width: 40%;
    margin-bottom: 40px;
  }
  .parent-container .services .scrollable .row .txt h1 {
    margin-right: 15px;
  }
  .parent-container .services .scrollable .row .flex-box {
    margin: 0 0 0 10px;
    width: 90%;
  }
  .parent-container .services .scrollable .row .flex-box h1 {
    font-size: 25px;
  }

  .parent-container .parent.services .floting-txt {
    top: 130%;
  }
}
@media (max-width: 387px) {
  .parent-container .services .scrollable .row .flex-box .content .bord p {
    width: 100%;
  }

  .parent-container .parent.services .floting-txt {
    top: 160%;
  }
}
.works .slider {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.works .slider .slick-list {
  height: 100%;
}
.works .slider .slick-list .slick-track {
  display: flex;
  height: 100%;
}
.works .slider .slick-list .slick-track .bord {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
}
.works .slider .slick-list .slick-track .bord:active {
  cursor: grabbing;
}
.works .slider .slick-list .slick-track .bord.slide0 {
  background-image: url(../../../images/works-0.jpg);
}
.works .slider .slick-list .slick-track .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.works .slider .slick-list .slick-track .container .row {
  position: relative;
  color: white;
  flex-direction: column;
}
.works .slider .slick-list .slick-track .container .row h3 {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 50px;
}
.works .slider .slick-list .slick-track .container .row h1 {
  font-size: 80px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.works .slider .slick-list .slick-track .container .row p {
  width: 35%;
  color: lightgray;
  line-height: 2em;
  margin-bottom: 40px;
}
.works .slider .slick-list .slick-track .container .row .project {
  padding: 15px 20px;
  width: 180px;
  border: none;
  outline: none;
  background-color: #ffb74d;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out background-color;
}
.works .slider .slick-list .slick-track .container .row .project:hover {
  background-color: #fcd54c;
}
.works .slider .slick-list .slick-track .container .row span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bolder;
}
.works .slider .slick-list .slick-track .bord.slide1 {
  background-image: url(../../../images/works-1.jpg);
}
.works .slider .slick-list .slick-track .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.works .slider .slick-list .slick-track .container .row {
  position: relative;
  color: white;
  flex-direction: column;
}
.works .slider .slick-list .slick-track .container .row h3 {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 50px;
}
.works .slider .slick-list .slick-track .container .row h1 {
  font-size: 80px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.works .slider .slick-list .slick-track .container .row p {
  width: 35%;
  color: lightgray;
  line-height: 2em;
  margin-bottom: 40px;
}
.works .slider .slick-list .slick-track .container .row .project {
  padding: 15px 20px;
  width: 180px;
  border: none;
  outline: none;
  background-color: #ffb74d;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out background-color;
}
.works .slider .slick-list .slick-track .container .row .project:hover {
  background-color: #fcd54c;
}
.works .slider .slick-list .slick-track .container .row span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bolder;
}
.works .slider .slick-list .slick-track .bord.slide2 {
  background-image: url(../../../images/works-2.jpg);
}
.works .slider .slick-list .slick-track .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.works .slider .slick-list .slick-track .container .row {
  position: relative;
  color: white;
  flex-direction: column;
}
.works .slider .slick-list .slick-track .container .row h3 {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 50px;
}
.works .slider .slick-list .slick-track .container .row h1 {
  font-size: 80px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.works .slider .slick-list .slick-track .container .row p {
  width: 35%;
  color: lightgray;
  line-height: 2em;
  margin-bottom: 40px;
}
.works .slider .slick-list .slick-track .container .row .project {
  padding: 15px 20px;
  width: 180px;
  border: none;
  outline: none;
  background-color: #ffb74d;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out background-color;
}
.works .slider .slick-list .slick-track .container .row .project:hover {
  background-color: #fcd54c;
}
.works .slider .slick-list .slick-track .container .row span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bolder;
}
.works .slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  z-index: 2;
  color: white;
  transition: 0.2s ease-in-out color;
}
.works .slider .slick-arrow:hover {
  color: #ffb74d;
}
.works .slider .slick-next {
  right: 200px;
}
.works .slider .slick-prev {
  left: 200px;
}

/*# sourceMappingURL=style.css.map */
