@media (max-width:992px) {
    .parent-container {
        .services {
            overflow-y: scroll;
            .scrollable {
                .row {
                    .flex-box {
                        h1 {
                            font-size: 35px;
                        }
                        .content {
                            flex-direction: column;
                            .bord {
                                width: 100%;
                                &:nth-of-type(1),
                                &:nth-of-type(2) {
                                    margin: 0;
                                }
                                &:not(:last-child) {
                                    margin-bottom: 20px;
                                }
                                &:last-child {
                                    margin-bottom: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: #888;
      }
      ::-webkit-scrollbar-thumb {
        background-color: $main-color;
        transition:  0.2s ease-in-out background-color;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background-color: $section-color;
      }
      
    .parent-container {
        .services {
            .scrollable {
                .row {
                    flex-direction: column;
                    .txt {
                        display: flex;
                        width: 30%;
                        justify-content: space-around;
                        margin-bottom: 30px;
                        h1 {
                            font-size: 100px;
                        }
                        p {
                            padding-top: 30px;
                            font-size: 15px;
                        }
                    }
                    .flex-box {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media (max-width:578px) {
    .parent-container .services .scrollable .row {
        .txt {
            margin: 0 auto;
            width: 40%;
            margin-bottom: 40px;
            h1 {
                margin-right: 15px;
            }
        }
        .flex-box {
            margin:0 0 0 10px ;
            width: 90%;
            h1 {
                font-size: 25px;
            }
        }
    }
}