.parent-container {
    .services {
        .scrollable {
            .row {
                justify-content: space-between;
                flex-wrap: nowrap;
                .txt {
                    position: relative;
                    h1 {
                        font-size:150px;
                        color:$bg-main-color;
                    }
                    p {
                        font-weight: bolder;
                        text-transform:uppercase
                    }
                    &::after {
                        content: "+";
                        position: absolute;
                        right:-30px;
                        top:-80px;
                        color:$bg-main-color;
                        font-size: 100px;
                        font-weight: bolder
                    }
                }
                .flex-box {
                    width: 70%;
                    h1{
                        font-size: 45px;
                        font-weight:bolder;
                        padding-bottom: 40px;
                        span {
                            color:$bg-main-color
                        }
                    }
                    .content {
                        display: flex;
                        flex-wrap: wrap;
                        .bord {
                            width: 50%;
                            h2 {
                                font-weight: bolder;
                                font-size: 25px;
                                margin-bottom: 30px
                            }
                            p {
                                color: gray;
                                margin-bottom: 25px;
                                width: 80%
                            }
                            button {
                                border:none;
                                outline: none;
                                color:$bg-main-color;
                                font-weight: bolder;
                                text-transform: capitalize;
                                opacity: 0;
                                transition: 0.4s ease-in-out opacity;
                                i {
                                    transition: 0.3s ease-in-out transform;
                                    margin-left: 5px;
                                }
                                &:hover {
                                    color:$main-color;
                                    i {
                                        color: $bg-main-color;
                                        transform: translateX(5px);
                                    }
                                }
                            }
                            &:hover button {
                                opacity: 1;
                            }
                        }
                        .bord:nth-of-type(1),
                        .bord:nth-of-type(2) {
                            margin-bottom: 50px
                        }
                    }
                }    
            }
        }
    }
}

//import responsive file
@import "servicesRes";