@media (max-width:1200px) {
    .services {
        .container {
            margin: 0 60px;
            max-width: 1000px;
            .flex-box {
                .content {
                    h1 {
                        padding: 100px 0 50px 0;
                        font-size: 35px;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    .services {
        .container {
            .flex-box {
                .content {
                    .bords {
                        .bord {
                            width: 100%;
                            padding-right: 30px;
                            margin: 0;
                            &:not(:last-child) {
                                margin-bottom: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}