.contacts.parent.z-0.txt-white.scroll#contacts
    .floting-txt
        span contact
    .scrollable
        .container
            .row
                .bord.one
                    h1 contact
                    p You'll called for yielding male, so lights <br/> abundantly, is their.
                    h3 69 Queen St, Melbourne <br/> Australia
                    a(href="tel:+7068980751" link="first") (+706) 8980-0751
                    a(href="mailto:Emoo@mail.com" link="last") Emoo@mail.com
                .bord.two
                    h3 Let's grab a coffee and jump on conversation 
                        span chat with us.
                    form
                        input(type="text", placeholder="name" class="fullwidth")
                        input(type="email", placeholder="email" class="fullwidth")
                        textarea(placeholder="message" class="fullwidth")
                        input(type="submit" value="send message")

