//start home section
.home.parent.z-6.txt-white.active#home
    .floting-txt
        span introduce
    .container
        .row
            p welcome to emoo
            h1 emoo
                br 
                span interior
                br
                |studio
            hr
//end home section

