//start services
.services.parent.z-5.txt-black(id="services")
    .floting-txt
        span services
    .container
        .row.flex-box
            .txt
                h1 6
                p years expereence working
            .content
                h1 we using 
                    span top leading 
                    |design
                .bords
                    //content created by js
            
//end services