//start services
.services.parent.z-5.txt-black.scroll#services
    .floting-txt 
        span services
    .scrollable
        .container
            .row
                .txt
                    h1 6
                    p year <br/> experience <br/> working
                .flex-box
                    h1 we using 
                        span top leading 
                        |desgin
                    .content
                    
//end services