.works.parent.z-4(id="works")
    .slider
        .bord.slide0
            -const txt = "Projects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.";
            .container
                .row
                    h3 featcred works
                    h1 interior <br/> in moscow 
                    p #{txt}
                    button.project see project
                    span Jan 2021 <br/> Design 

        .bord.slide1
            .container
                .row
                    h3 featcred works
                    h1 interior <br/> in moscow 
                    p #{txt}
                    button.project see project
                    span feb 2021 <br/> interior 

        .bord.slide2
            .container
                .row
                    h3 featcred works
                    h1 interior <br/> in moscow 
                    p #{txt}
                    button.project see project
                    span may 2021 <br/> branding 

