.home {
    background-image: url(../images/home.jpg);
    .row {
        max-width: 400px;
        color: white;
        flex-direction: column;
        p {
            margin-bottom: 10px;
        }
        h1 {
            font-size: 80px;
            text-transform: uppercase;
            font-weight: bolder;
            margin: 0;
            span {
                color: $main-color;
                text-transform: uppercase;
            }
        }
        hr {
            background-color: $main-color;
            height: 4px;
            width: 35%;
            margin-top: 100px;
            margin-bottom: 0;
        }
    }
    .floting-txt {
        color: white;
    }
}

//import responsive file
@import "homeRes";