//extend 
%unorder-list {
    ul {
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            cursor: pointer;
            font-weight: bolder;
            &:not(:last-child) {
                margin-right: 50px;
            }
            i {
                margin-left: 8px;
                font-size: 10px;
                transition: 0.2s ease-out color;
            }
            &:hover i{
                color: $main-color;
            }
        }
    }
}

//start nav bar
nav {
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
    position: fixed;
    width: 100%;
    //page-icon
    .page-icon {
        position: relative;
        text-decoration: none;
        .txt {
            padding:8px 13px;
            line-height: inherit;
            width: 130px;
            h3 {
                font-weight: bolder;
                margin: 0;
                font-size: 25px;
                color: black;
            }
            p {
                font-size: 12px;
                margin: 0;
                font-weight: lighter;
                color:gray
            }
        }
        .bord {
            width: 40px;
            height: 100%;
            position: absolute;
            top:0;
            border:2px solid $main-color;
            border-right: none;
            &::before {
                content: "";
                position: absolute;
                width: 0%;
                height: 100%;
                background-color: $main-color;
                transition: 0.2s ease-out width;
                z-index: -1;
            }
        }
        &:hover .bord::before {
            width: 100%;
        }
    }
    //list
    .container.list {
        margin: 0;
        max-width: 85%;
        .row {
            height: 100%;
            margin: 0;
            justify-content: space-between;
            @extend %unorder-list
        }
    }
    //icons
    .icons {
        display: flex;
        align-items: center;
        a {
            color: black;
            transition: 0.2s ease-out color;
            &:not(:last-child) {
                margin-right: 30px;
            }
            &:hover {
                color: $main-color;
            }
        }
    }
}
//end nav bar
//start points bar
.point-container {
    position: fixed;
    z-index: 2;
    right: 50px;
    top:50%;
    transform: translateY(-50%);
    ul {
        li {
            display:block;
            cursor: pointer;
            transition: 0.2s ease-out color;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            &:hover {
                color: $main-color;
            }
            i {
                font-size: 12px;
            }
        }
        li.active {
            color:$main-color
        }
    }
}
//end points bar
//start bot-txt
.bot-txt {
    position: fixed;
    z-index: 2;
    bottom: 30px;
    left: 50px;
    h3 {
        font-size: 15px;
        font-weight: lighter;
        color: black;
    }
}
//end bot-txt
//start lung-section
.lung-section {
    position: fixed;
    z-index: 2;
    bottom: 35px;
    right: 50px;
    ul {
        margin: 0;
        li {
            font-size: 14px;
            display: inline-block;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.2s ease-out color;
            &:not(:last-child) {
                margin-right: 15px;
            }
            &:hover {
                color: $main-color;
            }
        }
        li.active {
            color: $main-color;
        }
    }
}
//end lung-section
//start menu-section
.menu-section {
    width: 0px;
    height: 0px;
    background-color: rgb(43, 43, 43);
    position: fixed;
    top:50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    z-index: 0;
    transition: 0.5s ease;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .content {
        @extend %unorder-list;
        ul {
            li {
                opacity: 0;
                transform: translateY(-50px);
                transition: 0.2s ease-in-out ;
                transition-property: transform , opacity;
                display: inline-block;
                i {
                    display: none;
                }
            }
            li:hover {
            color:$main-color
            }
        }
        .icons {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: 0.2s ease-in-out opacity;
            a {
                color: white;
                &:hover {
                    color: $main-color;
                }
            }
            a:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}
.menu-section.active {
    width: 100%;
    height: 100vh;
    opacity: 1;
    z-index: 9;
    ul {
        li {
            opacity: 1;
            transform: translateY(0px);
        }
        @for $i from 1 through 5 {
            li:nth-of-type(#{$i}) {
                transition-delay: 0.2s * $i;
            }
        }
    }
    .icons {
       opacity: 1;
    }
}
//end menu-section
//start menu-bar
.menu-bar {
    color: white;
    width: 25px;
    min-height: 10px;
    position: fixed;
    right: 50px;
    top:45px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    margin-left: 10px;
    display: none;
    .bar {
        width: 100%;
        height: 2px;
        background-color: white;
        transition: 0.2s ease-in-out transform;
        &:not(:last-child) {
            margin-bottom: 7px;
        }
    }
    .bar:nth-of-type(2) {
        transition: 0.3s ease-in-out opacity;
        opacity: 1;
    }
    .bar:nth-of-type(1),
    .bar:nth-of-type(3) {
        transition: 0.3s ease-in-out transform;
    }
}
.menu-bar.active {
    .bar:nth-of-type(2) {
        opacity: 0;
    }
    .bar:nth-of-type(1) {
        transform: rotate(40deg) translateX(5px) translateY(7.5px);
    }
    .bar:nth-of-type(3) {
        transform: rotate(-40deg) translateX(5px) translateY(-7.5px);
    }
}
//end menu-bar

//import responsive file
@import "itemsRes";