@media (max-width:1200px) {
    .team .bord.slide-0 {
        background-position: right;
    }
    .team .bord.slide-1,
    .team .bord.slide-2{
        background-position: center;
    }
}

@media (max-width:992px){
    .slider .slick-list .slick-track .container .row {
        h3 {
            font-size: 30px;
        }
        h1 {
            font-size:60px;
        }
        h3 ,h1, p, button {
            margin-bottom: 20px;
        }
        span {
            right: 0;
        }
        p {
            width: 50%;
            line-height: 1.5em;
        }
    }
}

@media (max-width:768px) {
    .slider .slick-list .slick-track .container .row {
        span {
            position: static;
            text-align: left;
            font-size: 18px;
            font-weight: normal;
            br {
                display: none;
            }
        }
    }
}

@media (max-width:576px) {
    .team .bord.slide-0 {
        background-position: 80%;
    }
    .slider .slick-list .slick-track .container .row {
        h3 {
            font-size: 18px;
        }
        h1 {
            font-size:35px;
        }
        h3 ,h1, p, button {
            margin-bottom: 20px;
        }
        p {
            width: 60%;
            font-size: 13px;
        }
        .project {
            width: 150px;
            font-size: 13px;
            letter-spacing: normal;
            text-transform: capitalize;
            padding: 10px 15px;
        }
        span {
            font-size: 15px;
        }
        .slick-arrow {
            font-size: 30px;
        }
    }
    .parent {
        .slick-arrow {
            font-size: 30px;
        }
    }
    .parent-container .parent .slider .container .row h1 .small {
        font-size: 15px;
    }
}